.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/Fungi Datasets and Plots/Ohiopyle State Park/2020 - 2024 Fungal Observations by GBIF/combined_diversity_plot.png
docs/Fungi Datasets and Plots/Ohiopyle State Park/2020 - 2024 Fungal Observations by GBIF/SpeciesRichnees using Dplyr 2020-2024.png
docs/Fungi Datasets and Plots/Ohiopyle State Park/2020 - 2024 Fungal Observations by GBIF/visual.png
